<p>Choose what you would like to do within Coworking Spaces?</p>
<%= link_to "Find coworking space?", new_coworkingfilter_path %>
<p>or</p>
<%= link_to "Suggest coworking space?", new_coworkingspace_path %>



